name: 13-job-needs-multiple
on:
  push:
  workflow_dispatch: 

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        run: echo "Build step"
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Build
        run: echo "Build step"
      - run: sleep 45
  deploy:
    runs-on: ubuntu-latest
    needs: [build-windows, build-linux]
    steps:
      - run: echo "Deploy step"
      